{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div>
    <div>
        <table id="coronaVirusInfoTable">
            <thead>
                <tr>
                    <th>COVID-19 Latest Information</th>
                    <th>Last Updated</th>
                    <th>Confirmed</th>
                    <th>Deaths</th>
                    <th>Active</th>
                    <th>Recovered</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="font-weight:bold;">UK</td>
                    <td>{{ latestFigure[0] }}</td>
                    <td>{{ latestFigure[1] }}</td>
                    <td>{{ latestFigure[2] }}</td>
                    <td>n/a</td>
                    <td>n/a</td>
                </tr>
            </tbody>
        </table>
    </div>

    <br />
    <br />

    <div>
        <h4 style="font-weight:bold">Confirmed COVID-19 cases in UK graph</h4>
        <img src="/coronacasesplotlasttenconfirmed.png?v={{ nocache }}" alt="my plot" class="auto-adjust-image" />
        <img src="/coronacasesplotlasttendeaths.png?v={{ nocache }}" alt="my plot" class="auto-adjust-image" />
        <img src="/coronacasesplotlinear.png?v={{ nocache }}" alt="my plot" class="auto-adjust-image" />
        <img src="/coronacasesplotlog.png?v={{ nocache }}" alt="my plot" class="auto-adjust-image" />
    </div>
</div>
{% endblock %}
